#matchList{
    list-style: none;
    margin: 0;
    padding: 0;
    border : solid 0.5px black
}

#matchList li{
    background-color: white;
    border-bottom: gray solid 1px;
}

#matchList:last-child{
    border-bottom: none;
}

#matchList:first-child{
    border-top: none;
}