.teamLogoMatchPage{
    align-self: center;
    width: 150px;
}

.matchPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header{
    display: flex;
    justify-content: center;
}

.matchPage .teamName{
    align-self: center;
}